<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
    <!-- liffを使うためのCDN -->
      <script charset='utf-8' src='https://static.line-scdn.net/liff/edge/2/sdk.js'></script>
      
  <title>A-1_AccountRegist</title>
</head>

<body>

  <h2>ユーザー登録</h2>

  <form>
    <div>
      <label for='ownerName'>オーナー名</label>
      <div>
        姓<br>
        <input type='text' id='familyName'>
      </div>
      <div>
        名<br>
        <input type='text' id='name'>
      </div>
    </div>
    <div>
      <label for='phoneNumber'>電話番号</label><br>
      <input type='tel' id='phoneNumber'>
    </div>
    <div id='myCarInformation'>
      <label >マイカー情報</label>
      <div>
        <div>
          車種<br>
          <input type='text' id='carType' name='myCar'>
        </div>
        <div>
          車券有効期限<br>
          <input type='date' id='effectivedate' name='myCar'>
        </div>
      </div>
    </div>
    <div>
      <input id='addMyCar'  type='button' value='+マイカーを追加'>
    </div>
    <div>
      <label for='shopId'>ショップID ※店舗店員にご確認ください</label><br>
      <input type='text' id='shopId'>
    </div>
    <div>
      <input type='checkbox' id='agreement'>ご利用規約に同意する
    </div>
    <div>
      ご利用規約は<a href='https://example.com/'>こちら</a>
    </div>
    <div>
      <input type='button' id='check' value='確認する' >
    </div>
  </form>
  
  <script src='javascripts/liff.js'></script>
  <!-- <script>
    // 追加コンテンツ
    var newElement = document.createElement('div');
    var content1 = document.createElement('div');
    content1.appendChild(document.createTextNode('車種'));
    content1.appendChild(document.createElement('br'));
    var input1 = document.createElement('input');
    input1.setAttribute('type','text');
    input1.setAttribute('class','carType');
    content1.appendChild(input1);
    var content2 = document.createElement('div');
    content2.appendChild(document.createTextNode('車券有効期限'));
    content2.appendChild(document.createElement('br'));
    var input2 = document.createElement('input');
    input2.setAttribute('type','date');
    input2.setAttribute('class','effectivedate');
    content2.appendChild(input2);
    newElement.appendChild(content1);
    newElement.appendChild(content2);

    // コンテンツの読み込み
    const check = document.getElementById('check');
    const addMyCar = document.getElementById('addMyCar');
    const myCarInformation = document.getElementById('myCarInformation');
    
    check.addEventListener('click', function() {  
      console.log('クリックされました！'); 
    }, false);

    var n = 1;
    addMyCar.addEventListener('click', function() {   
      for (let step = 0; step < n; step++) {
        myCarInformation.appendChild(newElement);
        myCarInformation.appendChild(newElement);
      }
      n++;
      console.log(n)
    }, false);
  </script> -->

</body>

</html>