<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
    <!-- liffを使うためのCDN -->
      <script charset='utf-8' src='https://static.line-scdn.net/liff/edge/2/sdk.js'></script>
      
  <title>A-1_AccountRegist</title>
</head>

<body>

  <h2>初回無料相談受付</h2>

  <form action="https://personal-trainer-demo.herokuapp.com/liff/conf" method="post">
    <div>
      <label>お名前</label><br>
      <input type='text' id='name'>
    </div>
    <div>
      <label>お名前(よみがな)</label><br>
      <input type='text' id='yomigana'>
    </div>
    <div>
      <label>電話番号</label><br>
      <input type='tel' id='phoneNumber'>
    </div>
    <div>
      <label>ご希望</label><br>
      <select id='wish'>
        <option value='diet'>ダイエット</option>
        <option value='bulkUp'>筋量アップ</option>
        <option value='other'>その他</option>
      </select>
    </div>
    <div>
      <input type='submit' value='確認する' >
    </div>
  </form>
  
  <script src='javascripts/liff.js'></script>
  <!-- <script>
    // 追加コンテンツ
    var newElement = document.createElement('div');
    var content1 = document.createElement('div');
    content1.appendChild(document.createTextNode('車種'));
    content1.appendChild(document.createElement('br'));
    var input1 = document.createElement('input');
    input1.setAttribute('type','text');
    input1.setAttribute('class','carType');
    content1.appendChild(input1);
    var content2 = document.createElement('div');
    content2.appendChild(document.createTextNode('車券有効期限'));
    content2.appendChild(document.createElement('br'));
    var input2 = document.createElement('input');
    input2.setAttribute('type','date');
    input2.setAttribute('class','effectivedate');
    content2.appendChild(input2);
    newElement.appendChild(content1);
    newElement.appendChild(content2);

    // コンテンツの読み込み
    const check = document.getElementById('check');
    const addMyCar = document.getElementById('addMyCar');
    const myCarInformation = document.getElementById('myCarInformation');
    
    check.addEventListener('click', function() {  
      console.log('クリックされました！'); 
    }, false);

    var n = 1;
    addMyCar.addEventListener('click', function() {   
      for (let step = 0; step < n; step++) {
        myCarInformation.appendChild(newElement);
        myCarInformation.appendChild(newElement);
      }
      n++;
      console.log(n)
    }, false);
  </script> -->

</body>

</html>